body{ 
    background-color:rgb(173,28,155)
   }
   #ima{
     width:99%;
   }
   #im2{
     width:55%%
   }
   ul{
     display: inline-block;
   }
   h2{
     text-aligner;
   }
   .textoprincipal{
     background-color:#0C6269;
   }